/* src/App.css */
/* .table-container {
  overflow-x: auto;
}

.table-container table {
  min-width: 100%;
  border-collapse: collapse;
}

.table-container th, .table-container td {
  white-space: nowrap;
} */
